In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("G:/DACON/영화리뷰/train.csv")
data.head()

   id                                 document  label
0   1                영상이나 음악이 이쁘다 해도 미화시킨 불륜일뿐      0
1   2             히치콕이 이 영화를 봤다면 분명 박수를 쳤을듯...      1
2   3     괜찮은 음악영화가 또 나왔군요!!! 따뜻한 겨울이 될 것 같아요~      1
3   4              아무래도 20년도지난작품이라 지금보기는너무유치하다      0
4   5  지금까지의 영화들이 그랬듯. 이 영화역시 일본에 대한 미화는 여전하다.      0

In [3]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(data)

결측치가 존재하지 않습니다

In [5]:
x = data.document
y = data.label

In [6]:
x.head()

0                  영상이나 음악이 이쁘다 해도 미화시킨 불륜일뿐
1               히치콕이 이 영화를 봤다면 분명 박수를 쳤을듯...
2       괜찮은 음악영화가 또 나왔군요!!! 따뜻한 겨울이 될 것 같아요~
3                아무래도 20년도지난작품이라 지금보기는너무유치하다
4    지금까지의 영화들이 그랬듯. 이 영화역시 일본에 대한 미화는 여전하다.
Name: document, dtype: object

In [7]:
y.head()

0    0
1    1
2    1
3    0
4    0
Name: label, dtype: int64

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
sample_vectorizer = CountVectorizer()

In [9]:
sample_1 = ['hello, my name is dacon and i am a data scientist']
sample_vectorizer.fit(sample_1)

CountVectorizer()

In [10]:
print(sample_vectorizer.vocabulary_)

{'hello': 4, 'my': 6, 'name': 7, 'is': 5, 'dacon': 2, 'and': 1, 'am': 0, 'data': 3, 'scientist': 8}

In [11]:
vectorizer = CountVectorizer()
vectorizer.fit(x)
x = vectorizer.transform(x)

In [12]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x,y)

LogisticRegression()

In [14]:
test = pd.read_csv("G:/DACON/영화리뷰/test.csv")
test.head()

   id                             document
0   1                     시간 때우기 좋은 영화 지루함
1   2  훈훈한 정이 느껴지는 영화! 가족끼리 드라마 보듯이 보면 딱~!
2   3                    Childhood fantasy
3   4                  멋있는 영화입니다. 잊을 수 없는!
4   5                   너무 감동적이네요 펑펑 울었습니다

In [15]:
test_x = test.document
test_x_vect = vectorizer.transform(test_x)

pred = model.predict(test_x_vect)
print(pred)

[0 1 0 ... 1 0 0]

In [17]:
from sklearn.metrics import accuracy_score
test_y = test.label
accuracy_score(test_y, pred) 
# test에 라벨이 없엇네~

AttributeError: 'DataFrame' object has no attribute 'label'

In [19]:
test.head()

   id                             document
0   1                     시간 때우기 좋은 영화 지루함
1   2  훈훈한 정이 느껴지는 영화! 가족끼리 드라마 보듯이 보면 딱~!
2   3                    Childhood fantasy
3   4                  멋있는 영화입니다. 잊을 수 없는!
4   5                   너무 감동적이네요 펑펑 울었습니다